<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Ingreso</title>
</head>
<body>
    <!-- <h1>Ingresar sitio V1</h1>
    <button onclick="redirectToPage('ingreso')">Ingreso V1</button> -->

    <h1>Ingresar sitio V2</h1>
    <button onclick="redirectToPage('entry/')">Ingreso V2</button> 

    <script>
        function redirectToPage(url) {            
            window.location.href = url;
        }
    </script>
</body>
</html>