<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <title>Cost Control System</title>
</head>
<body>
    <!-- <h1>Ingresar sitio V1</h1>
    <button onclick="redirectToPage('ingreso')">Ingreso V1</button> -->

    <h1>Cost Control System </h1>
    <hr>
    <button onclick="redirectToPage('entry/')">Monthly</button> 
    <button onclick="redirectToPage('gd/entry/')">Diary</button>


    <script>
        function redirectToPage(url) {            
            window.location.href = url;
        }
    </script>
</body>
</html>