<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <!-- Contenido de la página -->

    <!-- Script para redirección automática después de 10 segundos -->
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'login' %}";  // Redirige a la URL de inicio de sesión
        }, 10000);  // 10000 milisegundos = 10 segundos
    </script>
</body>
</html>

