{% extends 'base.html' %}

{% block title %}Finance Monitor{% endblock %}

{% block content %}

{% load custom_filters %}

<style>
    .text-center {
        text-align: center;
    }

    .currency-input {
            text-align: right;
        }
</style>

<h2>View Module » Operations Management</h2>

<div>
    <button onclick="redirectToPage('/')">Return</button>
    <button id="add-operations-btn" type="button" class="btn btn-primary">Add Operations</button>
    <button id="mod-operations-btn" type="button" class="btn btn-secondary">Modify Operations</button>
</div>
<br>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Payment Date</th>
            <th>Amount</th>                                 
            <th>Select</th>            
        </tr>
    </thead>
    <tbody>
        {% for operation in operations %}
            <tr>                
                <td>{{ operation.name }}</td>
                <td>{{ operation.fecha_creacion }}</td>
                <td>{{ operation.category }}</td>
                <td>{{ operation.subcategory }}</td>
                <td>{{ operation.fecha_pago }}</td>                               
                <td class="currency-input">{{ operation.monto | multiplicar:operation.multiplicador }}</td>                
                <td class="text-center"><input type="checkbox" class="operation-checkbox" data-pk="{{ operation.pk }}"></td>
            </tr>       
        
        {% empty %}
            <tr>
                <td colspan="7">No operations in the database. <a href="{% url 'operation_add' %}">Add the first operation</a>.</td>
            </tr>
        {% endfor %}     
        
        <!-- Suma de resultados -->
    <tr>
        <td colspan="5"><b> TOTAL:</b></td>
        <td>{{ operations|multiplicar_y_sumar}}</td>        
    </tr>

    </tbody>    
</table>

<script>

    function redirectToPage(url) {            
        window.location.href = url;
        };

    
    document.getElementById('add-operations-btn').onclick = function() {
        window.location.href = "{% url 'operation_add' %}"
        
        };

    document.getElementById('mod-operations-btn').onclick = function() {
        let selectedOperations = [];
        document.querySelectorAll('.operation-checkbox:checked').forEach(function(checkbox) {
            selectedOperations.push(checkbox.dataset.pk);
          });

          if (selectedOperations.length > 0) {
            
            let pk = selectedOperations[0];
            let url = `/entry/${pk}/`
            window.location.href = url;            
            
          } else {
              alert('Please select at least one operation to modify.');
          }
     };
    
    
</script>

{% endblock %}